[submodule "discretesampling/base/algorithms/smc_components/variable_size_redistribution"]
	path = discretesampling/base/algorithms/smc_components/variable_size_redistribution
	url = https://github.com/AVarsi88/O_logN_parallel_redistribution.git
[submodule "discretesampling/base/algorithms/smc_components/distributed_variable_size_redistribution"]
	path = discretesampling/base/algorithms/smc_components/distributed_variable_size_redistribution
	url = https://github.com/AVarsi88/O_logN_parallel_redistribution.git
[submodule "discretesampling/base/algorithms/smc_components/distributed_fixed_size_redistribution"]
	path = discretesampling/base/algorithms/smc_components/distributed_fixed_size_redistribution
	url = https://github.com/AVarsi88/O_logN_parallel_redistribution.git
